<div class="nav-list">


  <div  class="card-body">
    <h3 style="text-align: center" class="border-title"><strong>"{{article.articleName}}</strong>"
    </h3>
  </div>
  <div class="card-body">
  <div class="flex-container">
    <mat-list role="list">
      <hr>
      <div><img [src]=retrievedImage height="200" width="200"></div>
     <hr>
    </mat-list>
    <div >&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div >

        <strong>"{{article.articleText}}"</strong>
        <ul  class="list-group" >

        </ul>

    </div>

  </div>
  </div>
<hr>
    <hr>
  <div  class="card-body">
  тут будут кнопки
  </div>
  <hr>
  <hr>
</div>


