<div class="nav-list">
  <div class="card-body">
    <div class="card-body">
      <h3 style="text-align: center" class="border-title">Подробный расчет стоимости установки кондиционера грн
      </h3>
    </div>
    <table mat-table [dataSource]="priceArray" class="mat-elevation-z8">
      <!-- Model Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Модель </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.model}} </td>
        <td mat-footer-cell *matFooterCellDef> Итого </td>
      </ng-container>

      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Кол-во </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.count | number:'1.0-2'}} </td>
        <td  *matFooterCellDef> - </td>
      </ng-container>

      <!-- priceDefaultUkr Column -->
      <ng-container matColumnDef="priceDefaultUkr">
        <th mat-header-cell *matHeaderCellDef> Закупка ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.priceDefaultUkr | number:'1.0-2'}}</td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalPriceDefaultUkr| number:'1.0-2'}}</td>
      </ng-container>

      <ng-container matColumnDef="priceGlobalUkr">
        <th mat-header-cell *matHeaderCellDef> Общая закупка ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.priceGlobalUkr | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef> {{totalGlobalUkr}}</td>
      </ng-container>

      <!-- profitUkr Column -->
      <ng-container matColumnDef="profitUkr">
        <th mat-header-cell *matHeaderCellDef> Прибыль ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.profitUkr | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalProfitUkr | number:'1.0-2'}}</td>
      </ng-container>

      <!-- Price Ukr Column -->
      <ng-container matColumnDef="priceUkr">
        <th mat-header-cell *matHeaderCellDef> Цена продажи ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.priceUkr | number:'1.0-2'}}</td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalPriceUkr | number:'1.0-2'}}</td>
      </ng-container>

      <!-- profitabilityUkr Column -->
      <ng-container matColumnDef="profitabilityUkr">
        <th mat-header-cell *matHeaderCellDef> Рентабельность % </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.profitabilityUkr | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef> {{totalProfitabilityUkr | number:'1.0-2'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsUkr"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsUkr;"></tr>
      <tr mat-footer-row class="table-footer-colore" *matFooterRowDef="displayedColumnsUkr"></tr>
    </table>

<!--    tabl USA-->
    <div class="card-body">
      <h3 style="text-align: center" class="border-title">Подробный расчет стоимости установки кондиционера доллары
      </h3>
    </div>
    <table mat-table [dataSource]="priceArray" class="mat-elevation-z8">
      <!-- Model Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Модель </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.model}} </td>
        <td mat-footer-cell *matFooterCellDef> Итого </td>
      </ng-container>

      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Кол-во </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.count}} </td>
        <td  *matFooterCellDef> - </td>
      </ng-container>

      <!--      USA-->
      <!-- priceDefaultUsa Column -->
      <ng-container matColumnDef="priceDefaultUsa">
        <th mat-header-cell *matHeaderCellDef> Закупка ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.priceDefaultUsa | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalPriceDefaultUsa | number:'1.0-2'}}</td>
      </ng-container>


      <ng-container matColumnDef="priceGlobalUsa">
        <th mat-header-cell *matHeaderCellDef> Общая закупка ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.priceGlobalUsa | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalPriceGlobalUsa | number:'1.0-2'}}</td>
      </ng-container>

      <!-- profitUsa Column -->
      <ng-container matColumnDef="profitUsa">
        <th mat-header-cell *matHeaderCellDef> Прибыль ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.profitUsa | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalProfitUsa | number:'1.0-2'}}</td>
      </ng-container>

      <!-- priceUsa Column -->
      <ng-container matColumnDef="priceUsa">
        <th mat-header-cell *matHeaderCellDef> Цена  продажи ₴ </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.priceUsa | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalPriceUsa | number:'1.0-2'}}</td>
      </ng-container>

      <!-- profitabilityUsa Column -->
      <ng-container matColumnDef="profitabilityUsa">
        <th mat-header-cell *matHeaderCellDef> Рентабельность % </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.profitabilityUsa | number:'1.0-2'}} </td>
        <td style="border-radius: 100px;" class="radius" mat-footer-cell *matFooterCellDef>
          {{totalProfitabilityUsa | number:'1.0-2'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsUsa"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsUsa;"></tr>
      <tr mat-footer-row class="table-footer-colore" *matFooterRowDef="displayedColumnsUsa"></tr>
    </table>

    <div>
      <button class = mat-raised-button  (click)="cost()">расчет</button>
<!--      <button class = mat-raised-button   (click)="createOffer()">создать предложение клиенту</button>-->
    </div>

  </div>
</div>

