<div class="nav-list">
    <div class="card">
<!--      <div class="card-body">-->
<!--        <button  style="float: right " mat-raised-button class="addConditionerButton"-->
<!--                 (click)="addArticle()">Добавить статью</button>-->
<!--      </div>-->
    </div>

    <div class="card-body">
      <h3 style="text-align: center">Статьи</h3>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр">
      </mat-form-field>

      <div class="mat-elevation-z8"  >
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container [style.display]="'none'" matColumnDef="uuidArticle">
            <th mat-header-cell [style.display]="'none'" *matHeaderCellDef mat-sort-header > UUID </th>
            <td mat-cell  [style.display]="'none'" *matCellDef="let row"> {{row.uuidArticle}} </td>
          </ng-container>

          <!-- articleName Column -->
          <ng-container  matColumnDef="articleName" >
            <th mat-header-cell  *matHeaderCellDef mat-sort-header> Название </th>
            <td mat-cell *matCellDef="let row"> {{row.articleName}} </td>
          </ng-container>

          <!-- pictureName Column -->
          <ng-container matColumnDef="pictureName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Превью </th>
            <td mat-cell *matCellDef="let row"><img [src]=  row.pictureBody height="50" width="50"></td>
          </ng-container>


          <!--Details Column-->
          <ng-container matColumnDef="details" >
            <th mat-header-cell *matHeaderCellDef>Подробности</th>
            <td mat-cell *matCellDef="let row" class="actions" (click)="details(row.uuidArticle)">
              <mat-icon>details</mat-icon>
            </td>
          </ng-container>

        <!--Delete Column-->
        <ng-container matColumnDef="deleted" >
          <th mat-header-cell *matHeaderCellDef>Удалить</th>
          <td mat-cell *matCellDef="let row" class="actions" (click)="delete(row.uuidArticle)">
             <mat-icon>clear</mat-icon>
          </td>
      </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[4, 5, 10, 15]"></mat-paginator>
      </div>
    </div>
  </div>

