<!--<div class="nav-list">-->

<!--  <div class="card">-->
<!--    <h4 class="mat-card-header" style="text-align: center">-->
<!--      Изменить данные о кондиционере-->
<!--    </h4>-->

<!--    <div class="card-body">-->
<!--      <div style="display: flex; justify-content: space-around" >-->
<!--        <div class="card-body">-->
<!--          <div class="mat-card-body">-->
<!--            <form #form="ngForm" (ngSubmit)="update(conditioner)">-->
<!--              <div>-->
<!--                <mat-form-field>-->
<!--                  <input  matInput [ngModel]="conditioner.nameConditioner"  name="nameConditioner"-->
<!--                          placeholder="название кондиционера">-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--              <div>-->
<!--                <mat-form-field>-->
<!--                  <input matInput  [ngModel]="conditioner.inventoryNumber" #inventoryNumber="ngModel" name="inventoryNumber"-->
<!--                         placeholder="инвентарный номер" readonly>-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--          <div>-->
<!--            <mat-form-field>-->
<!--              <input matInput  [ngModel]="conditioner.place" #place="ngModel" name="place"-->
<!--                     placeholder="место расположения кониционера">-->
<!--            </mat-form-field>-->
<!--          </div>-->


<!--              <div>-->
<!--                <button mat-raised-button type="submit" *ngIf="form.valid">update</button>-->
<!--                &lt;!&ndash;<button mat-raised-button type="reset">reset</button>&ndash;&gt;-->
<!--                <button mat-raised-button (click)="cancel()" >cancel</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->









