<nav mat-tab-nav-bar>
  <!--<img class="logo" src="../../../assets/biblioteka%20mazkeret%20batiya.jpg" alt="logo">-->
  <a mat-tab-link
     *ngFor="let link of homeLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    <mat-icon>{{link.icon}}</mat-icon>
    {{link.label}}
  </a>

  <label mat-tab-link [matMenuTriggerFor]="articleMenu">
    это интересно
    <mat-icon>
      topic
    </mat-icon>
  </label>
  <mat-menu #articleMenu="matMenu">
    <a mat-menu-item
       *ngFor="let item of articleLinks"
       [routerLink]="item.path">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.label}}
    </a>
  </mat-menu>
  <!-- <label mat-tab-link [matMenuTriggerFor]="conditionerMenu">
    кондиционеры
    <mat-icon>
      menu
    </mat-icon>
  </label> -->
  <!-- <label mat-tab-link [matMenuTriggerFor]="typeMaintenanceMenu">
    ТО
    <mat-icon>
      menu
    </mat-icon>
  </label> -->
  <!-- <label mat-tab-link [matMenuTriggerFor]="planningMenu">
    планирование
    <mat-icon>
      menu
    </mat-icon>
  </label> -->
  <!-- <mat-menu #conditionerMenu="matMenu">
    <a mat-menu-item
       *ngFor="let item of conditionerLinks"
       [routerLink]="item.path">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.label}}
    </a>
  </mat-menu>
  <mat-menu #typeMaintenanceMenu="matMenu">
    <a mat-menu-item
       *ngFor="let item of typeMaintenanceLinks"
       [routerLink]="item.path">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.label}}
    </a>
  </mat-menu>
  <mat-menu #planningMenu="matMenu">
    <a mat-menu-item
       *ngFor="let item of planningLinks"
       [routerLink]="item.path">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.label}}
    </a>
  </mat-menu> -->
</nav>
<router-outlet></router-outlet>

