table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.table-footer-colore{
  border: #061947 solid 3px;
}
.radius{
  background: #d2f5ff; /* Цвет фона */
  border: 1px solid black; /* Параметры рамки */
  padding: 15px; /* Поля вокруг текста */
  margin-bottom: 10px; /* Отступ снизу */
}
.mat-raised-button{
  margin: 40px;
}
